@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    height: 60px;
    position: fixed;
    justify-content: center;
    width: 100%;
    background: transparent;
    justify-content: space-between;
    padding: 20px;
}

ul{
    display: flex;
    list-style: none;
    align-items: center;
}

li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
}

nav h3{
  align-items: center;
  display: flex;
}

#sun{
  color: white;
  transform: none;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
}
/* 
#sun:hover{
} */

#moon{
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.home{
    height: 100vh;
    background-color: black;
    padding: 10px;
}

.content{
    width: 100%;
    height: 450px;
    display: grid;
    grid-template-columns: 0.5fr 9.5fr;
    background: none;
    padding: 10px;
    place-content: center;
    transform: translateY(20%);
    gap: 10px;
}

.socials{
    background: none;
    height: 300px;
    place-content: center;
    padding: 5px;
}

.socials ul{
    display: block;
    list-style: none;
}

.socials li a{
    text-decoration: none;
    color: white;
    padding: 0;
    font-size: 30px;
    font-weight: none;
}

.socials li{
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
    padding: 3px 3px 3px 5px;
}

.socials li:hover{
    background-color: white;
    border-radius: 50%;
}

.socials a:hover{
    color: black;
}

.text{
    background: none;
    height: 300px;
    width: 100%;
    padding: 10px;
}

h1, h2{
    text-align: center;
    align-items: center;
    font-size: 60px;
    font-weight: 600px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 2px  rgb(93, 0, 255);
}

p{
    color: white;
    font-size: 20px;
    text-align: center;
}

.text a{
    font-size: 25px;
    cursor: pointer;
    margin-top: 15px;
    transition: transform 1.5sec;
    transition: smooth;
    text-decoration: none;
}

.text h1, h2:hover{
    cursor: pointer;
}

#angles-down{
    justify-content: center;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    display: flex;
}

#angles-down:hover{
    transform: translateY(5px);
}

.pack{
    width: 80%;
    background: none;
    height: 60px;
    align-items: center;
    margin: auto;
}

.portfolio{
    height: 100vh;
    background-color: black;
    padding: 10px;
}

.container{
    height: 450px;
    width: 100%;
    background: none;
    transform: translateY(25%);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    padding: 10px;
}

.box{
    height: 100%;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px white;

}
  
  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 36px;
    perspective: 2500px;
    margin: 0 50px;
  }
  
  .cover-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .wrapper {
    transition: all 0.5s;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
  
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  }
  
  .wrapper::before,
  .wrapper::after {
    content: "";
    opacity: 0;
    width: 100%;
    height: 80px;
    transition: all 0.5s;
    position: absolute;
    left: 0;
  }
  .wrapper::before {
    top: 0;
    height: 100%;
    background-image: linear-gradient(
      to top,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  .wrapper::after {
    bottom: 0;
    opacity: 1;
    background-image: linear-gradient(
      to bottom,
      transparent 46%,
      rgba(12, 13, 19, 0.5) 68%,
      rgba(12, 13, 19) 97%
    );
  }
  
  .card:hover .wrapper::before,
  .wrapper::after {
    opacity: 1;
  }
  
  .card:hover .wrapper::after {
    height: 120px;
  }
  .title {
    width: 100%;
    transition: transform 0.5s;
    margin-bottom: 10px;
    cursor: pointer;
  }
  .card:hover .title {
    transform: translate3d(0%, -50px, 100px);
  }
  
  .character {
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    position: absolute;
    z-index: -1;
  }
  
  .card:hover .character {
    opacity: 1;
    transform: translate3d(0%, -30%, 100px);
  }

  .about{
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    place-content: center;
  }

  .aboutcont{
    height: 450px;
    background: none;
    transform: translateY(30%);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    padding-top: 25px;
  }

  .myimage{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    /* background-color: rgb(16, 16, 16); */
    background-image: url(img/nas.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  h3{
    color: white;
    font-size: 20px;
    text-align: center;
  }

  .mytext{
    height: 400px;
    width: 100%;
    background: none;
    padding: 10px;
  }

  a{
    text-decoration: none;
  }

  /* ////////////////////3d//////////// */


.puu{
  height: 100vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 10px;
}

.left{
  background-color: rgb(45, 45, 45);
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  padding: 10px;
  gap: 10px;
}

.show{
  width: 100%;
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}

.show:hover{
  background-color: rgb(25, 25, 25);
}

.show1{
  background-image: url(img/1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show2{
  background-image: url(img/product.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show3{
  background-image: url(img/fk.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.show4{
  background-image: url(img/room.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.right{
  background-color: rgb(45, 45, 45);
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 10px;
}

#back{
  color: white;
  font-size:30px;
  cursor: pointer;
}

#back:hover{
  background-color: white;
  color: black;
  border-radius: 50%;
  padding: 5px;
  position: fixed;
}




/* ////////////////////////web///////////////////////////// */


.copytrading{
  height: 100vh;
  width: 100%;
  background-color: black;
  padding: 10px;
}

#copy{
  font-size: 20px;
  color: white;
  text-align: center;
}

.copycont{
  width: 400px;
  height: 500px;
  padding: 20px;
  background-color: #313030;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  align-items: center;
}

label {
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button:hover {
  background-color: #0056b3;
}

#tradetype{
  padding: 12px;
  background-color: rgb(39, 39, 39);
  cursor: pointer;
  border-radius: 12px;
  outline: none;
}

option{
  background-color: black;
  color: white;
  cursor: pointer;
}